
{{ define "main" }}

<article class="max-width">
    <!-- Title -->
    <br>
    <section class="row">
        <div class="col s10 m7 l7 offset-l2" style="font-size: 15px">
          We are an interdisciplinary group of researchers at <a href="https://tech.cornell.edu" target="_blank" rel="noopener">Cornell Tech</a>, <a href="https://www.cornell.edu" target="_blank" rel="noopener">Cornell University</a>, and <a href="https://www.nyu.edu" target="_blank" rel="noopener">New York University</a> studying how to improve digital safety and privacy for victims of intimate partner violence.

          Intimate Partner Violence (IPV)  is widespread, affecting nearly one out of four women and one out of six men at some point in their lives. Increasingly this violence exploits the technology that our lives depend on. Imagine an abusive girlfriend, boyfriend, or spouse having invasive access to monitor your social media, track your location, read your text messages, listen to your phone calls, and more. Although abuse via digital technologies may directly affect victim safety and well-being, to date there has been very little research that examines the use of technology in IPV and investigates the development of new tools, techniques, and theories to combat technology-enabled IPV.

          The goal of our research is to develop an in-depth understanding of technology’s role in IPV and develop tools that better equip victims of IPV, and advocates working on their behalf, to navigate the complex socio-technical challenges encountered in IPV contexts.
            <br> <br>
            <a target="_blank" rel="noopener" href="https://tech.cornell.edu"><img src="/images/tech.jpg" style="object-fit: cover;width: 100px; max-height: 200px;"></a>
            <a target="_blank" rel="noopener" href="https://www.cornell.edu"><img src="/images/cornell-insignia-red.svg" style="object-fit: cover;width: 100px; max-height: 200px;"></a>
            <a target="_blank" rel="noopener" href="https://www.nyu.edu"><img src="/images/nyu.jpg" style="object-fit: cover;width: 100px; max-height: 200px;"></a>

        </div>
    </section>
</article>

{{ end }}
